/* Resetando as configurações padrões */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-weight: 400;
    font-family: sans-serif;
}

:root {
    
    --dark-blue: #1955B7;
    --medium-blue: #2388d8;
    --light-blue: #51C9EE;
  
    --black-800: #171717;

    --gray-200: #CCCCCC;
    --gray-400: #505861;

    --white: #F9F9F9;
}

html {
    width: 100%;
    height: 100vh;
}

body {
    background-color: var(--gray-200);
    color: var(--black-800);
}

/* Definindo as configurações de títulos e paragrafo */
h1 {
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    padding: 1rem;
    color: var(--black-800);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
}

h3 {
    padding: 1rem;
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    padding: 0.5rem 0;
}

/* Definindo as configurações do Flexbox */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_start {
    display: flex;
    justify-content: flex-start;
}

/* Estilização da Seção Header */

#header_content {
    height: 80px;
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: space-between;
    padding: 24px;
    background-color: var(--dark-blue);
    border-bottom: 1px solid var(--medium-blue);
}

#menu li {
    display: inline;
    padding: 1rem;
}

#menu li a {
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
}

#menu li a:hover {
    color: var(--light-blue);
    text-decoration: underline;
}

 /* Estilização da Seção About */
#about {
    flex-direction: column;
    margin: 2rem auto;
    width: 90%;
}

#conteudo {
    flex-direction: row;
    gap: 2rem;
}

.img_profile {
    width: 200px;
    border-radius: 50%;
    border: 10px solid white;
}

/* Estilização da Seção Video */

#video {
    flex-direction: column;
    margin: 2rem auto;
    width: 90%;
}

/* Estilização da Seção Footer */
footer{
    flex-direction: column;
    margin: 0;
    padding: 2rem;
    color: var(--white);
    background-color: var(--medium-blue);
    font-weight: bold;
    text-align: center;
}

#redes_sociais {
    display: flex;
    justify-content: space-evenly; 
    margin: 1rem 0 0 0;
    width: 320px;
}

.social_icon {
    width: 4rem;
    height: 4rem;
    filter: brightness(0) 
            saturate(100%) 
            invert(100%) 
            sepia(0%) 
            saturate(7457%) 
            hue-rotate(23deg) 
            brightness(100%) 
            contrast(100%);
}

.social_icon:hover {  
    filter: brightness(50%) 
            saturate(100%) 
            invert(65%) 
            sepia(59%) 
            saturate(9437%) 
            hue-rotate(213deg) 
            brightness(86%) 
            contrast(88%);
}

 /* Estilização da Página de Contato */

#contact {
    flex-direction: row;
    gap: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin: 2rem 0;
    padding: 1.5rem;
    border: none;
}

form label {
    font-size: 1rem;
    text-align: left;
    font-weight: 500;
}

form input, 
textarea {
    margin: 0.5rem 0 1rem;
    padding: 0.5rem;
    border-radius: 1.25rem;
    border: none;
    width: 100%;
    font-size: 1rem;
}

textarea {
    resize: none;
    height: 5rem;
}

form span {
    margin: 0 0 0.5rem 0.75rem;
    font-size: 0.75rem;
    line-height: 1rem;
    color:red;
}

form button {
    text-align: center;
    padding: 0.75rem 2rem;
    background: var(--dark-blue);
    border: 1px solid var(--medium-blue);
    color: var(--white);
    border-radius: 0.75rem;
    font-weight: 700;
    font-size: 1rem;
}

form button:hover {
    background: var(--medium-blue);
}

#mapa {
    width: 480px;
    flex-direction: column;
    gap: 3rem;
}

#endereco > p {
    font-size: 1rem;
    text-align: justify;
    font-weight: 600;
}